html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


::-webkit-scrollbar{
  width: 9px;
  &-thumb{
    border-radius: 50px;
    background: #5f5f5f;
  }
}

body {
  line-height: 1.3;
  user-select: none;
}

a,
a:visited,
  a:hover {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  input, select, textarea {
    border: none;
    outline: none;
    caret-color: white;
    color: white;
    border-radius: 6px;
  }
  
  * button {
    border: none;
    outline: none;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .noscroll {
    overflow: hidden;
  }
  