// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Dark mode colors
$dark-bg: #1f1f1f;
$dark-menu-bg: #282828;
$dark-hover: #363636;
$dark-text-color: #fff;
$btns: #de4c4a;
